.Notification{
    position: absolute;
    width: 100%;
    transition: opacity 1s;
    opacity: 1;
    padding: 16px;
    background-color: green;
    color: #fff;
}
.Notification--hidden{
    opacity: 0;
}
