.SimpleTimeView {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    cursor: pointer;
}

.SimpleTimeView-circle{

}

.SimpleTimeView-clock{
    font-family: 'Digital', sans-serif;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 72px;
}
